<!DOCTYPE html>

{% load static %}
{% block content %}

{% include "nav.html" %}

<body>

<div class="card center" style="width: 18rem;">
  <img class="card-img-top" src="{{img}}" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Titulo</h5>
    <p id="pregunta"> class="card-text"></p>
  </div>
  <ul class="list-group list-group-flush">
    <li id="respuestas" class="list-group-item"></li>

  </ul>
  <div class="card-body">
    <input class= "btn btn-success" type="button" value="a ver si acerté" onclick="comprobar()">
  </div>
</div>
















	<script>
		var nota=0;
		var preguntas = {{data|safe}};
		var respuestas ={{data2|safe}};
jugar();

		var indicie_respuesta_correcta;

function jugar(){
			var indice_aleatorio = Math.floor(Math.random()*preguntas.length);


		var respuestas_posibles = respuestas[indice_aleatorio];


		var posiciones = [0,1,2,3];
		var respuestas_reordenadas = [];

		var ya_se_metio = false;
		for(i in respuestas_posibles){
			var posicion_aleatoria = Math.floor(Math.random()*posiciones.length);
			if(posicion_aleatoria==0 && ya_se_metio == false){
				indicie_respuesta_correcta =i;
				ya_se_metio = true;
			}
			respuestas_reordenadas[i] = respuestas_posibles[posiciones[posicion_aleatoria]];
			posiciones.splice(posicion_aleatoria, 1);
		}

		var txt_respuestas="";
		for(i in respuestas_reordenadas){
			txt_respuestas += '<input type="radio" name="pp" value="'+i+'"><label>'+respuestas_reordenadas[i]+'</label><br>';
		}

		document.getElementById("respuestas").innerHTML = txt_respuestas;
		document.getElementById("pregunta").innerHTML = preguntas[indice_aleatorio];

}
function comprobar(){
	
	var respuesta = $("input[type=radio]:checked").val();

	//alert(respuesta);
	//alert(indicie_respuesta_correcta);
	if(respuesta ==indicie_respuesta_correcta){
    nota=nota+1;

		Swal.fire({
  		title: nota +' Puntos',
  		animation: false,
  		customClass: {
    		popup: 'animated tada'
  		}
})
	}else{
		if(nota==0){
			nota=0
		}else{
			nota=nota-1 
		}
		Swal.fire({
  		type: 'error',
  		title: 'Oops...'+ nota+' Puntos',
  		text: 'Que Pena!',
})
	}
	jugar();
}
	</script>



</body>






{% endblock content %}

