
  <!DOCTYPE html>



{% load static %}
{% block content %}
    {% csrf_token %}
{% include "base.html" %}
<body>

<img  src="{% static 'img/logo.webp' %}" class="img-fluid w-80 center col-xs-10 col-md-8"  alt="Responsive image" >
  <p><p>


    

<div class="loader center espacio"></div>


     <!-- splash-->

     <script type="text/javascript">

      window.onload=timeout;
      function timeout(){
      window.setTimeout("redirect()",6000)}
      
      function redirect(){
      window.location="{% url 'inicio' %}"
      return}
      
      </script>


  </body>


{% include "footer.html" %}

{% endblock content %}



