<!DOCTYPE html>



{% load static %}
{% block content %}

{% include "nav.html" %}
<body>
   <div id="espacio" class="container" >


<form action="/updateDatos/" method="post">

<div class="image-upload ">
  <label class="center" for="files">
    <img src="{{img}}" style='width:90px; height:90px'  class="rounded-circle shadow" style="pointer-events: none"/>
  </label>
  <input id="files" type="file" name="files[]"/>

{{asyg}}
<h3 id="color">Bienvenido, {{nombre}} {{apellido}}</h3>

{% csrf_token %}

  <input type="hidden" name="url" id="url">
</div>



    <button type="button" class="btn btn-success" onclick="uploadimage()">Actualizar</button><br><br>
<input type="submit" id="btn"  value="" >
</form>




</body>

<script src="{% static 'js/auth.js' %}"></script>

{% endblock content %}