
  <!DOCTYPE html>



{% load static %}
{% block content %}
    {% csrf_token %}
{% include "base.html" %}
<body>

<img  src="{% static 'img/logo.webp' %}" class="img-fluid w-80 center col-xs-10 col-md-8"  alt="Responsive image" >
  <p><p>

<div class="progress">
  <div id="dynamic" class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
    <span id="current-progress"></span>
  </div>
</div>


    




     <!-- splash-->

     <script type="text/javascript">

      window.onload=timeout;
      function timeout(){
      window.setTimeout("redirect()",6000)}
      
      function redirect(){
      window.location="{% url 'inicio' %}"
      return}
      
      </script>


  </body>


{% include "footer.html" %}

{% endblock content %}



