
body{
    margin: 0px;

}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:white;
    color: white;
    text-align: center;
}

#colorfooter{
    color: gray
}




.left{
    margin-left: 10px;
    float: left;
}

.right{
    margin-left: 10px;
    float: right;
}

.center {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    width: 50%;
}

.center2 {
    
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}



#logo{

    margin-top: 200px;
    background-repeat: no-repeat;
    background-size: cover ;
    position: center ;
    left: 0;
    bottom: 0;
    right: 0;
}

.dropdown-menu-right { 
    right: 0; 

}

#asignatura{
    margin-top: 100px;
}

#cuenta{
    margin: auto;
    margin-right: 0px;
}

.checked {
    color: orange;
}

.temp{
    margin-top: 150px;
}